.contact {
  //background: rgba(0,0,0,0.1);
  padding: $small-spacing 0;
  @include container;
  border-top: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-top: $base-spacing;
}

.contact__title {
  @include height( 24px );
  margin-bottom: $small-spacing;
  font-weight: 700;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-bottom: $small-spacing;
}

.contact__name {
  @include height( 21px );
  margin: 0;
  font-weight: 700;
}

.contact__value {
  @include height( 18px, 28px);
  color: $codgray;
  display: block;
  float: left;
  clear: left;
}

a[href^=tel] {
  text-decoration: none;
}
